<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<meta charset="ISO-8859-1">

</head>
<body style="padding:0px;">
    

	<div id="resumebox">
  			<br/><br/>
		    <h2 id="customwordstitle">Lista de palabras</h2>
		    <a  href="/"><button id="returnresumebutton">Regresar <span class="glyphicon glyphicon-share-alt"></span></button></a><br><br> 
		    <div class="wordsbox">
				<h3 th:if="${userwords == null or #lists.isEmpty(userwords)}" class="gamehistory" style="text-align: center; margin:20px; color: white;"></h3>
		    	<div class="row rowgame" style="margin:auto;width:94%;" th:each="word : ${userwords}">
		    		<form class="editWordForm" method="POST">
			    		<input type="text" class="col-sm-8 customword noeditable" style="margin-left:20px;" th:placeholder="${word}" readonly/>
			    		<div class="col-sm-3" style="text-align:right; padding: 0px;">
			    			<button class="glyphicon glyphicon-ok okButton manualhide" type="submit"></button>
			    			<span onClick="enableEditing(this)" class="glyphicon glyphicon-edit editButton"></span>
			    			<a th:href="@{/wordconfiguration/delete/{word}(word=${word})}" class="glyphicon glyphicon-remove removeButton"></a>
			    		</div>
		    		</form><br><br>
		    	</div>
		    </div>
		   
	</div>
	
	<!-- CUANDO SE EDITA UNA PALABRA -->
	<script>
	$( ".editWordForm" ).submit(function(event) {
		event.preventDefault();
		let formData = new FormData();
		let input = $(this).find("input");
		let okButton = $(this).find(".okButton")[0];
		formData.append("input", input);
		formData.append("original", $(input).attr("placeholder"));
		formData.append("new", $(input).val());
       $.ajax({
              url : '/wordconfiguration/edit',
              data : formData,
              type:'POST',
              enctype:'multipart/form-data',
              processData: false, 
              contentType:false,
              success : function(wasUpdated) {
            	  if (wasUpdated) 
            		  $(input).attr("placeholder", $(input).val());	  

             	  let index = 0;
             	  let okButtons = document.getElementsByClassName("okButton");
             	  for (i=0; i<okButtons.length; i++) {
             		if (okButtons[i] == okButton) {
             			index = i;
             			break;
             		}
              	  }
             	  disableEditing(okButton, index);
              },
              error : function(err){
            	  console.log(err);
              }
          });
	});
	</script>
	

	
	<!-- HABILITA/DESHABILITA EDITABLE -->
	<script>
	function enableEditing(editButton) {
		let editButtons = document.getElementsByClassName("editButton");
		let index = 0;
		for (i=0; i<editButtons.length; i++) {
			if (editButtons[i] == editButton) {
				index = i;
				break;
			}
		}

		//Comprobamos si se ha pulsado al propio boton, en ese caso, deshabilitamos la edicion
		let elementNoEditable = document.getElementsByClassName("customword")[index];
		let okButtons = document.getElementsByClassName("okButton");
		if (!$(elementNoEditable).hasClass("noeditable")) {
			disableEditing(okButtons[index], index);
			return;
		}
		
		//Comprobamos si ya hay otra zona activada para edición, y de ser así, la deshabilitamos
		for (i=0; i<okButtons.length; i++) {
			if (!$(okButtons[i]).hasClass("manualhide")) {
				disableEditing(okButtons[i], i);
				break;
			}
		}
		
		let text = $(elementNoEditable).attr("placeholder");
		$(elementNoEditable).removeClass("noeditable");
		$(elementNoEditable).removeAttr("readonly");
		$(elementNoEditable).focus();
		$(elementNoEditable).val(text);
		
		let okButton = document.getElementsByClassName("okButton")[index];
		$(okButton).removeClass("manualhide");
	}
	
	function disableEditing(okButton, index) {
		$(okButton).addClass("manualhide");
		let elementNoEditable = document.getElementsByClassName("customword")[index];
		$(elementNoEditable).addClass("noeditable");
		$(elementNoEditable).attr("readonly", "true");
		$(elementNoEditable).val('');
	}
	</script>
	
	
   
</body>
</html>